In [6]:
my_set = set()
my_set.add(7)
my_set.add("hello")
my_set

{7, 'hello'}

In [19]:
my_set.update({4})


set2= {5,6,7,4}
ans = my_set.difference(set2)
my_set

{'hello'}

In [32]:
#left most higest element

set1 = {2,3,4}
set2 = {3,5,21}
result = set.union(set1,set2)
set3 = {3,4,5,9}
result.update(set3)
result


ans = set1.intersection(set2)
ans
ans = set1.symmetric_difference(set2)
print(set1)
set1.issuperset({2,3,4})

{2, 3, 4}

True

In [58]:
dict1 = { i : [i*2] for i in range(1,11) }
dict1.keys()
#tuple(dict1)

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [73]:
dict1.update({1:[9]})
dict1

{1: [9],
 2: [4],
 3: [6],
 4: [8],
 5: [10],
 6: [12],
 7: [14],
 8: [16],
 9: [18],
 10: [20]}

In [85]:
dict2 = {
    2 : "s" ,
    None : None  ,
    "" : 4 ,
}
dict2.popitem()

('', 4)