In [7]:
# TNS - Write a python program to identify whether it is prime or not

l1 = [2,3,5,7,11]
num = int(input())
ans = 0
for i in l1 :
  if num%i == 0 :
    ans = 1
print("not prime") if ans else print("prime")

#loops
for i in range(2,int(num/2)) :
    if num%i == 0 :
        print("not prime")
        break
else :
    print("prime")

45
not prime
not prime

In [9]:
#TNS - List of integer only return the even numbers list
l2 = [ 1,2,3,4,5,6,7,8,9]
ans = []
for i in l2 :
  if i %2 == 0 :
    ans.append(i)
ans

[2, 4, 6, 8]

In [11]:
#TNS - write a program to find the second largest number in the list without using sort function
l3 = [34,75,32,97,75,32,76]
max =  -1
for i in l3 :
  if i > max :
    max = i
max2 = -1
for i in l3 :
  if i > max2 and i != max :
    max2 = i
max2

76

In [12]:
# Given a list of tuple sort by the middle element of the tuple
ques = [(3,4,2),(7,5,4),(8,2,1)]

for i in range(len(ques)) :
   for j in range(i + 1 ,len(ques)):
    if ques[i][1] > ques[j][1]:
      ques[i] , ques[j] = ques[j] , ques[i]
ques

[(8, 2, 1), (3, 4, 2), (7, 5, 4)]

In [13]:
#python program to return sum of tuples
ques = [(3,4,2),(7,5,4),(8,2,1)]
ans = []
for i in ques :
    ans.append(sum(i))
ans

[9, 16, 11]

In [18]:
# given two list find common elements

l1 = [3,5,2,8,1]
l2 = [ 4,8,6,1,1,0]
ans = set(l1).intersection(set(l2))
ans

{1, 8}

In [20]:
#python program to remove all duplicates from a list using set and return as list
l2 = list(set(l2))
l2

[0, 1, 4, 6, 8]

In [35]:
#8 write a python program that takes a dictionary and returns the key with the maximum value

dict2 = { i: i*2 for i in range(1,6)}
print(dict2)
def getmax(dict1):
  maxans = 0
  max = -1
  for i in dict1 :
    if dict1[i] > max :
      max = dict1[i]
      maxans = i
  print(max)
  print(maxans)
getmax(dict2)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}
10
5

In [37]:
#9th
str1= "fcgvhhhyzbgztfa"
dict2 = dict()
max = -1
for i in str1 :
     if i in dict2 :
         dict2[i] += 1
     else :
        dict2[i] = 1
     if dict2[i] > max :
        max = dict2[i]
print(dict2)
print(max)
for i in dict2 :
     if dict2[i] == max :
        print(i)

{'f': 2, 'c': 1, 'g': 2, 'v': 1, 'h': 3, 'y': 1, 'z': 2, 'b': 1, 't': 1, 'a': 1}
3
h

In [51]:
#10th
dict2 = { i : [ i*2 , i*3 ] for i in range(1,6)}
print(dict2)
max = -1
maxa = 0
for i in dict2 :
     if sum(dict2[i]) > max :
        max = sum(dict2[i])
        maxa = i

maxa

{1: [2, 3], 2: [4, 6], 3: [6, 9], 4: [8, 12], 5: [10, 15]}

5